$width : 15px;

input[type="text"]#colens,
input[type="text"]#minuteid {
  -webkit-appearance: none !important;
  text-align: right;
  width: 4px;
  border: 0px solid gray;
  border-left: 0px;
  margin: 0 0 0 0;
  padding: 0px;
  background: white;
  -webkit-appearance: none;

  outline: none;
}

.hour-wrapper {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
}

input[type="text"]#minuteid {
  width: $width;
}

input[type="text"]#hourid {
  -webkit-appearance: none !important;
  border: 0px;
  width: $width;
  outline: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0px;
}

.cancel-arrows::-webkit-inner-spin-button,
.cancel-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// input[type="text"]#minuteid {
//   -webkit-appearance: none !important;
//   border: 1px solid gray;
//   border-right: 0px;
//   outline: none;
// }
