<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h5>Regulat date</h5>
  <input [type]="'time'" name="h1">
  <br>
  <h5>Optional date</h5>
  <label for="Hour">Subdomain:</label>
  <div class="hour-wrapper">
    <input class="cancel-arrows" type="text" placeholder="00" id="hourid" size="2" maxlength="2" />
    <input type="text" id="colens" value=":" disabled />
    <input class="cancel-arrows" type="text" id="minuteid" value="00" size="2" maxlength="2" />
  </div>
  <!-- <input type="text" placeholder="00" id="minuteid" /> -->

  <br>
